@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

body {
  background: black !important;
  overflow-x: hidden;
}

#topBox {
  margin: auto;
  width: 100%;
  height: 50lvh;
  /*background-color: cornflowerblue;*/
  position: relative;
}

#topBox::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: 0px;
  bottom: -10px;
  width: 102%;
  height: 100%;
  background-image: url("ingamepic.png");
  background-size: 225vh;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

#topBox > * {
  position: relative;
  z-index: 1;
}

#header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  z-index: 100;
  transition: background-color 0.2s ease-in-out;
}

#header.solid {
  background-color: cornflowerblue;
}

.white {
  color: white !important;
}

#main-title {
  text-align: center;
  padding-top: 17vh;
  color: white;
  font-size: 6vh;
}

#main-subtitle {
  text-align: center;
  color: white;
  font-size: 2vh;
}

#top-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

#main-btn-src img {
  transition: all 0.3s ease;
}

#main-btn-src:hover img {
  filter: invert(100%)
}

.material-symbols-outlined {
  vertical-align: middle;
  font-size: 20px;
}

#body {
  width: 100%;
  margin-top: 50px;
  color: white;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#question-area {
  margin-top: 100px;
}

#body-top-text {
  display: flex;
  gap: 10px;
  width: 45vh;
  margin: auto;
  justify-content: center;
}

#body-top-line {
  width: 5px;
  background: white;
  height: 170px;
  border-radius: 2px;
}

.body-text-grp {
  display: flex;
  flex-direction: column;
}

.body-answer-text {
  font-size: 17px
}

#mod-introduction {
  text-align: center;
}